body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

.tools-container {
    height: 80px;
}

/* Helpers */

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}